[ghq]
  root = ~/dev/git

[alias]
  c = commit
  st = status
  br = branch
  co = checkout
  sw = switch
  d = !git --no-pager diff
  dt = difftool

  # Clean merged branches
  sweep = !git branch --merged main | grep -v 'main$' | xargs git branch -d && git remote prune origin

  # http://www.jukie.net/bart/blog/pimping-out-git-log
  lg = log --graph --all --pretty=format:'%Cred%h%Creset - %s %Cgreen(%cr) %C(bold blue)%an%Creset %C(yellow)%d%Creset'

  # Switch Local Branches
  swp = "!f() { git checkout $(git branch --sort=-committerdate | peco | sed 's/^..//'); }; f"


[apply]
  # Detect whitespace errors when applying a patch.
	whitespace = fix

[branch]
	# Show most recently changed branches first.
	sort = -committerdate

[core]
  # Use custom `.gitignore` and `.gitattributes`.
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes

  editor = vim -c \"set fenc=utf-8\"

[help]
	# Automatically correct and execute mistyped commands.
	autocorrect = 1

[init]
	defaultBranch = main

[user]
	name = k1-c
	email = shun.kimura@integritis.io

[include]
  path = ~/.gitconfig.local
